@{
    ViewData["Title"] = "Cadastro";
}

<form asp-controller="Cadastro" asp-action="Cadastrar" method="post">

	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Cadastro</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="~/css/Cadastro.css">
	</head>
	<body>

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form">
						<span class="login100-form-title p-b-48">
							<i class="zmdi zmdi-font"></i>
						</span>

						<div class="wrap-input100 validate-input">
							<input class="input100" type="text" name="name">
							<span class="focus-input100" data-placeholder="Nome Completo" pattern="([aA-zZ]+)"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
							<input class="input100" type="text" name="email">
							<span class="focus-input100" data-placeholder="Email"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Valid email is: 000.000.000-00">
							<input class="input100" type="number" name="cpf">
							<span class="focus-input100" data-placeholder="CPF"></span>
						</div>

						<div class="wrap-input100 validate-input">
							<input class="input100" type="number" name="matricula">
							<span class="focus-input100" data-placeholder="Matricula"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input class="input100" type="date" name="Data">
							<span class="focus-input100"></span>
						</div>



						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Cadastrar
								</button>
							</div>
						</div><br>
						<span class="login100-form-title p-b-26">
							<img src="~/site-imagens/instrutor/logo.png" width="120">
						</span><br><br>

					</form>
				</div>
			</div>
		</div>


		<div id="dropDownSelect1"></div>
		<script src="~/js/jquery-3.2.1.min.js"></script>
		<script src="~/js/animsition.min.js"></script>
		<script src="~/js/popper.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
		<script src="~/js/select2.js"></script>
		<script src="~/js/moment.js"></script>
		<script src="~/js/daterangepicker.js"></script>
		<script src="~/js/countdowntime.js"></script>
		<script src="~/js/Cadastro.js"></script>



	</body>
</html>

	
</form>