html {
  font-size: 14px;
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.cards-cli {
    width: 100%;
    height: 110px;
    margin: 5px 0;
    border: 1px solid #cbcaca;
}
 .cards-cli .card-cli {
     display:flex;
     width:100%;
     height:100%;
     flex-direction:row;    
     justify-content:space-between;    
  }

    .cards-cli .card-cli .card-info {
        display: flex;
        flex-direction: row;        
        align-items: center;
    }
    .cards-cli .card-cli .card-actions {
        display:flex;
       
        justify-content:space-between;  
        margin:0px 10px;
        gap:5px;
        align-items: center;
    }

    .cards-cli .card-cli .card-info img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin:10px;
        border:3px solid #808080;
    }
    .cards-cli .card-cli .card-info .card-body{
        display:flex;
        flex-direction:column;
         align-items:flex-start;
    }

    .cards-cli .card-cli .card-info .card-body-info {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

.items-center {
    display: flex;
    flex-direction: row;
    align-items: center !important;
 
    justify-content: center !important;
    
    width: 100%;
    background: #ff0000;
    z-index: 1;
}

.bg-teste {
    background-image: url(~/site-imagens/bg-teste.png);
}