<div class="sidebar">

    <div class="brand">
        <span class="">
            <h3>StayFit</h3>
        </span>
    </div>

    <div class="sidemenu">
        <div class="side-user">
            <div class="side-img" style="background-image: url(./../site-imagens/instrutor/logo.png)"></div>
            <div class="user">
                <small>Wade Brighton</small>
                <p> Softwere Developer </p>
            </div>
        </div>

        <ul>
            <li>
                <a href="" class="active">
                    <span class="las la-home"></span>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-balance-scale"></span>
                    <span>Minha Ficha</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-chart-pie"></span>
                    <span>Exercicios</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-users"></span>
                    <span>Relatorio</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-shopping-cart"></span>
                    <span>Meu Plano</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-envelope"></span>
                    <span>Ajuda</span>
                </a>
            </li>
          </ul>
    </div>
</div>