@model Treino

<!-- Sidebar  -->
<partial name="_SideMenu" />

<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />

    <div class="main-content">
    <h1>Adicionar Treino</h1>

 
    <h4>Treino</h4>
    <hr />
    <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="card" style="min-height: 485px">
                    <div class="card-header card-header-text">
                        <h4 class="card-title">Atividades</h4>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ExercicioId" class="control-label"></label>
                        <select asp-for="ExercicioId" id="ExercicioId" class="form-control" asp-items="ViewBag.Exercicios"></select>
                    </div>

                 <div class="row">                   
                     <div class="form-group">
                            <label asp-for="RepetitionNumber" class="control-label"></label>
                                    <input asp-for="RepetitionNumber" id="nrepeticoes" class="form-control" />
                            <span asp-validation-for="RepetitionNumber" class="text-danger"></span>
                    </div>
                   
                        <div class="form-group">
                            <label asp-for="Series" class="control-label"></label>
                                    <input asp-for="Series" id="series" class="form-control" />
                            <span asp-validation-for="Series" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group">
                            <label asp-for="RestTime" class="control-label"></label>
                                    <input asp-for="RestTime" id="restTime" class="form-control" />
                            <span asp-validation-for="RestTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                    <label asp-for="RestBetween" class="control-label"></label>
                                    <input asp-for="RestBetween" id="restBetween"  class="form-control" />
                            <span asp-validation-for="RestBetween" class="text-danger"></span>
                        </div>

                    </div>

                        <div class="form-group">
                        <label asp-for="Distance" class="control-label"></label>
                          <input asp-for="Distance" id="distance" class="form-control" />
                        <span asp-validation-for="Distance" class="text-danger"></span>
                        </div>

                    <div class="form-group">
                        <label asp-for="Weight" class="control-label"></label>
                         <input asp-for="Weight" id="weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                      <input type="hidden" value="@ViewBag.FichaId" id="FichaId" class="btn btn-primary" />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                </div>
                </div>
        </div>
            <div class="col-lg-7 col-md-12">
                <div class="card" style="min-height: 485px">
                    <div class="card-header card-header-text">
                        <h4 class="card-title">Atividades</h4>
                    </div>
                    <div class="card-content">
                        <div class="cards-cli">
                            <div class="card-cli">
                                <div class="card-info">
                                    <div class="img-area">
                                        <img src="" alt="" />
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title-info">Nome</div>
                                        <div class="card-body-info">
                                            <div class="info"><span>Matricula:</span> Matricula</div>
                                            <div class="info"><span>CPF:</span> CPF</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-actions">
                                    <a class="btn btn-success " id="addTreino" role="button">Add</a>
                                    <a class="btn btn-success " id="enviarTeste" role="button">Enviar Gravar </a>
                                    <a class="btn btn-success" asp-controller="Ficha" asp-action="Create" asp-route-cliente="" role="button">Editar Ficha</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>

<script src="~/js/Treinos.js"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  /*  $(function () {
        $('#enviarTeste').click(function() {
            var treino = { 'RepetitionNumber': 20,
                'Series':3,
                'RestTime':1,
                'RestBetween': 1,
                'Distance': 1,
                'Weight': 1,
                'ExercicioId': 1,

            }

            $.ajax({
                type: 'POST',
                dataType: 'application/json; charset=utf-8',
                data: JSON.stringify(treino), 
                url: "/Treino/teste",
                success: function(data)
                {
                    alert(data)
                },
                error: function(result){
                    alert("error somethign went wrong")
                }
            })
        })
    })*/
</script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
