@model StayFit.Models.Exercicio



<!-- Sidebar  -->
<partial name="_SideMenu" />



<!-- Page Content  -->
<div id="content">

 <partial name="_Header" />

    <div class="main-content">
         <h1>Adicionar Exercicio</h1>
         <h4>Exercicio</h4>
         <hr />

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card" style="min-height: 485px">
        
        
                    <div class="card-header card-header-text">
                        <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                                @Html.TextAreaFor(m => m.Description, 10, 10, new { @class = "form-control" })
                         <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" type="file"/>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Video" class="control-label"></label>
                        <input asp-for="Video" class="form-control" type="file"/>
                        <span asp-validation-for="Video" class="text-danger"></span>
                    </div>
           
                    <div class="form-group">
                        <label asp-for="GroupMuscle" class="control-label"></label>
                        <select asp-for="GroupMuscle" class="form-control" asp-items="Html.GetEnumSelectList<GroupMuscle>()"></select>
                        <span asp-validation-for="GroupMuscle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeExercice" class="control-label"></label>
                        <select asp-for="TypeExercice" class="form-control" asp-items="Html.GetEnumSelectList<TypeExercice>()"> </select>
                        <span asp-validation-for="TypeExercice" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
