@model Exercicio

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet">

<link rel="stylesheet" href="/css/Timer.css">
<div class="wrapper">


    <div class="body-overlay"></div>


    <!-- Sidebar  -->
    <partial name="_SideMenu" />



    <!-- Page Content  -->
    <div id="content">

        <partial name="_Header" />

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="card" style="min-height: 485px">
                        <div class="card-header card-header-text">
                            <h3 class="card-title">@Model.Name</h3>
                            <p class="category">
                                <hr />
                            </p>
                        </div>
                        <div class="card-content table-responsive">
                          
            <video style="width:70%" controls="controls">
                <source src="@Model.Video" type="video/mp4" />
            </video>

            <img src="@Model.Photo" alt="@Model.Name" />
           </div>
                      
      </div>
    </div>

