@model IEnumerable<StayFit.Models.Exercicio>

<!-- Sidebar  -->
<partial name="_SideMenu" />



<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />
    <div class="main-content">

    @foreach(var exercicio in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3>Exercicio: @exercicio.Name</h3>
            <h4>Grupo Muscular: @exercicio.GroupMuscle</h4>
            <h4>Tipo: @exercicio.TypeExercice</h4>
        </div>
        <br />
    }

    </div>
</div>