@model StayFit.Models.Usuario
@using Microsoft.AspNetCore.Identity


<link href="~/css/adminhome.css" rel="stylesheet" />

<div class="wrapper">


    <div class="body-overlay"></div>


    <!-- Sidebar  -->
    <partial name="_UserSideMenu" for="@Model" />

    <!-- Page Content  -->
    <div id="content">

        <partial name="_Header" for="@Model" />

        <div class="main-content">

                   <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card" style="min-height: 685px">
                        <div class="row align-content-center">

                            
                            <div class="row m-5">
                                @*<div class="col-lg-2">
                                    <img src="@Model.Foto" style="width:120px; height:140px;" />
                                </div>*@
                                <div class="col-lg-8 m-3">
                                    <div class="row">
                                        <div class="col">
                                            <h3> @Model.Nome </h3>
                                        </div>
                                     </div>

                                    <div class="row">
                                        <div class="col">
                                            Peso: <strong>75,50</strong> 
                                        </div>
                                        <div class="col">
                                          Altura: <strong> 1,75</strong>
                                        </div>
                                        <div class="col">
                                            One of three columns
                                        </div>
                                        <div class="col">
                                            One of three columns
                                        </div>
                                        <div class="col">
                                            One of three columns
                                        </div>
                                    </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>



@*    -->
        <div class="chart-grid">
            <div class="chart-follow">
                <div class="chart-head">
                    <h3>Followers</h3>
                    <div class="la la-cog"></div>
                </div>
                <div id="myfirstchart" style="height: 350px;"></div>
            </div>
            <div class="chart-sales">
                <div class="chart-head">
                    <h3>Sales</h3>
                    <div class="la la-ellipsis-h"></div>
                </div>
                <div id="donut-example" style="height: 350px;"></div>
            </div>
        </div>
    </div>

    <label class="close-mobile-menu" for="menu-toggle"></label>
*@