<header>
    <label for="menu-toggle" class="menu-toggler">
        <span class="las la-bars"></span>
    </label>
    <div class="search">
        <span class="las la-search"></span>
        <input type="text" placeholder="Enter Keyword">
    </div>
    <div class="head-icons">
        <div class="las la-bell"></div>
        <div class="las la-bookmark"></div>
        <div class="las la-comment"></div>
    </div>
</header>