<div class="sidebar">

    <div class="brand">
        <span class="lab la-affiliatetheme">
            <h3>Dash</h3>
        </span>
    </div>

    <div class="sidemenu">
        <div class="side-user">
            <div class="side-img" style="background-image: url(./site-imagens/2.jpg)"></div>
            <div class="user">
                <small>Wade Brighton</small>
                <p> Softwere Developer </p>
            </div>
        </div>

        <ul>
            <li>
                <a href="" class="active">
                    <span class="las la-home"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-balance-scale"></span>
                    <span>Finance</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-chart-pie"></span>
                    <span>Analytics</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-users"></span>
                    <span>Contatics</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-shopping-cart"></span>
                    <span>Ecommerce</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-envelope"></span>
                    <span>Mailbox</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-check-circle"></span>
                    <span>Tasks</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-lock"></span>
                    <span>Authentication</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-file-invoice-dollar"></span>
                    <span>Pricing</span>
                </a>
            </li>
        </ul>
    </div>
</div>