@model StayFit.Models.Ficha

<!-- Sidebar  -->
<partial name="_SideMenu" />



<!-- Page Content  -->
<div id="content">

    <partial name="_Header" />

    <div class="main-content">
        <h1>Ficha</h1>
        <h4>Novo conjunto de Atividades</h4>

        <hr />
        <div class="row">
            <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAtividade" class="control-label"></label>
                <input asp-for="NomeAtividade" class="form-control" />
                <span asp-validation-for="NomeAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaSemana" class="control-label"></label>
                <select asp-for="DiaSemana" class="form-control" asp-items="Html.GetEnumSelectList<DiaSemana>()"></select>
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
              <div class="form-group">
                 <input type="hidden" asp-for="ClienteId" value="@ViewBag.ClienteId" />
             </div>
            <div class="form-group">
             <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>

 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
